@model DataSurvey.Models.TeacherSurvey

@{
    ViewData["Title"] = "Teacher Make A Survey";
}

<form asp-action="Teacher" asp-controller="Teacher" method="post" style="text-align:center; margin-top:20px;">
    <div style="text-align:center;">
        <h1>@ViewData["Title"]</h1>
        <h3>Welcome, please select your Students for this semester</h3>

        <div asp-validation-summary="All" class="text-danger"></div>
    </div>

    <div>
        <input asp-for="TeacherName" placeholder="Teacher's name?" style="text-align:center; font-size:16px; padding:5px;" />
    </div>

    <div style="display: grid; grid-template-columns: repeat(4, auto); gap: 20px 40px; justify-content: center; margin: 30px auto; font-size:20px;">
        @for (int i = 1; i <= 16; i++)
        {
            <label style="white-space: nowrap; cursor: pointer;">
                <input type="checkbox" name="SelectedStudents" value="Student @i" />
                Student @i
            </label>
        }
    </div>

    <div style="margin-top:40px;">
        <button type="submit" class="btn btn-primary btn-lg" style="font-size:20px;">
            Submit
        </button>
        <a asp-action="Index" asp-controller="Home" class="btn btn-primary btn-lg" style="font-size: 20px;">
            Home
        </a>
    </div>
</form>