@{
    ViewData["Title"] = "Database";
}

<h2>Api Surveyor</h2>
<h3>Statistics for results will be posted here</h3>

<!-- Optional: Return Home -->
<div style="margin-top: 20px;">
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Back to Home</a>
</div>
