@{
    ViewData["Title"] = "Main";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please choose the survey that applies to you.</p>
    <p>Once I spend more time working on it I'll have two buttons below that will need controllers to redirect survey pages.</p>
    <p>For now the Student and Teacher pages will appear in the navbar until the buttons and controllers are made.</p>
    <button type="button" style="font-size:40px; padding:50px 100px; margin:5px;">Student</button>
    <button type="button" style="font-size:40px; padding:50px 100px; margin:5px;">Teacher</button>
    <p>buttons need inline styling for size and stuff.</p>
</div>
